.scheme-container{
    padding: 30px;
    text-align: center;
}

.scheme-container h1{
    color: #0B3C5D;
    margin-bottom: 8px;
}

.scheme-container .sub{
    color: #555;
    margin-bottom: 25px;
    font-size: 15px;
}

.schemes{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.scheme-card{
    width: 280px;
    background: #ffffff;
    padding: 18px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border: 1px solid #d9e2eb;
    text-align: left;
}

.scheme-card h2{
    color: #0B3C5D;
    margin-bottom: 6px;
}

.learn-btn{
    margin-top: 12px;
    padding: 8px 16px;
    background: #0B3C5D;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
}
.learn-btn:hover{
    background: #084066;
}

/* Popup */
.popup{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content{
    background: #fff;
    padding: 24px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}

#close{
    float: right;
    cursor: pointer;
    font-size: 22px;
}
