*{
  margin: 0; padding: 0; box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #F7F9FC;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.profile-container{
  width: 450px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.12);
}

.profile-header{
  text-align: center;
}

#profile-img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #0B3C5D;
  object-fit: cover;
  margin-bottom: 12px;
}

.profile-name{
  font-size: 24px;
  font-weight: 700;
  color: #0B3C5D;
}

.profile-role{
  font-size: 15px;
  color: #3b5166;
  margin-bottom: 10px;
}

.edit-btn{
  background: #0B3C5D;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.25s;
}
.edit-btn:hover{
  background: #083550;
}

.profile-details{
  margin-top: 20px;
}

.profile-details h3{
  color: #0B3C5D;
  margin-bottom: 6px;
}

.profile-details p{
  color: #475569;
  line-height: 1.4;
}

.profile-stats{
  display: flex;
  justify-content: space-around;
  margin-top: 22px;
}

.profile-stats div{
  text-align: center;
}

.profile-stats span{
  font-size: 14px;
  color: #475569;
}

.edit-popup{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.45);
  display: none;
  justify-content: center;
  align-items: center;
}

.edit-box{
  width: 350px;
  background: white;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.3);
}

.edit-box h3{
  text-align: center;
  margin-bottom: 10px;
  color: #0B3C5D;
}

.edit-box input,
.edit-box textarea{
  width: 100%;
  padding: 8px;
  margin: 6px 0 12px 0;
  border-radius: 8px;
  border: 1px solid #bcc6cf;
}

.btns{
  display: flex;
  gap: 12px;
  justify-content: center;
}

#saveBtn{
  background: #0B3C5D;
  color: white;
  padding: 8px 18px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.cancel{
  background: #d1d9e0;
  padding: 8px 18px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
